.env
venv/
*.log
.tg_last_*
__pycache__/
*.pyc
bot_session.session
scratch/
xmtproto/
xray/
doctors.txt
dev_docs/
schema_VERI.sql
errors.txt
constants.py
config.ini
schema_VERI.sql

# PyInstaller build artifacts
build/
dist/
build_linux/
dist_linux/
build_windows/
dist_windows/
db_notifier/build/
db_notifier/dist/
db_notifier/build_linux/
db_notifier/dist_linux/
db_notifier/build_windows/
db_notifier/dist_windows/
db_notifier/build_win/
db_notifier/dist_win/
db_notifier/notifier_debug.txt
db_notifier/*.tar.gz
python/
*.spec