# Справочники врачей и эмодзи (обфусцировано для примера)
physicist_dict = {
    'Физик': '☢',
    'Иванов': '☢ Иванов',
    'Петров': '🦅 Петров',
    'Сидоров': '🏃 Сидоров',
}

first_ro_dict = {
    'Врач': '🧑‍⚕',
    'Смирнов': '👨‍⚕ Смирнов',
    'Васильев': '👨‍⚕ Васильев',
    'Михайлов': '👨‍⚕ Михайлов',
}

second_ro_dict = {
    'Врач': '🧑‍⚕',
    'Морозова': '🧑‍⚕ Морозова',
    'Волкова': '🧑‍⚕ Волкова',
    'Лебедева': '🧑‍⚕ Лебедева',
}
